<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{{url_for('static', filename='homestyle.css')}}">  

</head>
<body>

<h2>Facebook Search Bar</h2>

<input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names.." title="Type in a name">

<ul id="myUL">
{%for i in facebook_friends %}
  <li><a href="https://www.google.com/search?q={{i}}&ei=BAjhYpSGNuTk7_UPv6G8iAo&ved=0ahUKEwiUmPKk45j5AhVk8rsIHb8QD6EQ4dUDCA4&uact=5&oq={{i}}&gs_lcp=Cgdnd3Mtd2l6EAMyBAguEEMyBAguEEMyBAguEEMyBAguEEMyBwguENQCEEMyBwguENQCEEMyBQguEIAEMggILhCABBDUAjIFCC4QgAQyBQguEIAEOhQIABDqAhC0AhCKAxC3AxDUAxDlAjoFCAAQkQI6CwgAEIAEELEDEIMBOggIABCxAxCDAToOCC4QsQMQgwEQxwEQrwE6CwgAELEDEIMBEJECOgcIABCxAxBDOgoILhDHARDRAxBDOgoIABCxAxCDARBDOgQIABBDOggILhCABBCxAzoFCAAQgAQ6CgguELEDEIMBEEM6DgguEIAEELEDEIMBENQCSgQIQRgASgQIRhgAUMo1WLA6YK9FaAJwAXgAgAHlAYgBlgWSAQUwLjMuMZgBAKABAbABCsABAQ&sclient=gws-wiz">{{i}}</a></li>
  {%endfor%}
</ul>

<script>
function myFunction() {
    var input, filter, ul, li, a, i, txtValue;
    input = document.getElementById("myInput");
    filter = input.value.toUpperCase();
    ul = document.getElementById("myUL");
    li = ul.getElementsByTagName("li");
    for (i = 0; i < li.length; i++) {
        a = li[i].getElementsByTagName("a")[0];
        txtValue = a.textContent || a.innerText;
        if (txtValue.toUpperCase().indexOf(filter) > -1) {
            li[i].style.display = "";
        } else {
            li[i].style.display = "none";
        }
    }
}
</script>

</body>
</html>

